<div class="row" style="height: 92%;">
    <div class="col-md-4 d-flex align-items flex-column justify-content-center">
        <div>
            <h1 class="titre-debut">We care.</h1>
        </div>
        <div class="text-contenu mt-5">
            <p >Mediscreen speciallized in detecting risk factors.
                Our screening using predictive analysis of patient popilation
                at an affordable cost.</p>
                <div class="list mt-3">
                    <li>Are you small or rural clinic or pratictic ?</li>
                    <li>Do you need screeming of heart disease or hyper tension precursors ?</li>
                </div>
        </div>
        <div>
            <h1 class="titre-fin mt-5">We have solution for you.</h1>
        </div>
    </div>
    <div class="image col-md-8 m-0 p-0" style="background-color: white">
        <img src="/assets/img/mediscreen-img.png" width="100%" height="100%">
    </div>
</div>
