  <div class="nav justify-content-end">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/services">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ressources">Ressources</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/news-blog">News Blog</a>
      </li>
    </ul>
    </div>